.button {
  @include text($text-color-gray, bold, normal, $primary-font);
  @include text-size(18px, 20px);
  @include text-uppercase();
  display: block;
  padding: 15px 10px 13px 10px;
  text-align: center;
  background-color: $main-bg-color;
  border: 2px solid $gray-darken;
  cursor: pointer;

  &--form {
    font-size: 17px;
  }

  &:hover,
  &:focus {
    background-color: $gray-darken;
    color: $text-color-white;
    transition: all 0.3s;
  }

  &:active {
    color: rgba($text-color-white, 0.3);
  }
}
