.contacts-user {
  position: relative;
  margin-bottom: 0;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    background-color: $gray-bg-color;

    &--phone {
      padding-top: 64px;
    }

    &--email {
      padding-bottom: 50px;
    }
  }
}

.contacts-user__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include container-max();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
    grid-template-columns: repeat(6, 1fr);
  }
}

.contacts-user__label {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }
}

.contacts-user__input {
  @include input-text();
  @include text($text-color-gray, normal, normal, $primary-font);
  @include text-size(17px, 18px);
  padding-top: 16px;
  padding-bottom: 18px;
  margin-bottom: 34px;
  background-color: $transparent;
  outline: none;

  &:hover {
    border-color: $cian-2;
    transition: all 0.4s;
  }

  &:active,
  &:focus {
    border-color: $cian-2;
  }

  &::placeholder {
    @include text-size(17px, 18px);
    @include placeholder-text();
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    font-size: 19px;

    &::placeholder {
      @include text-size(19px, 18px);
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 6;
  }
}

.contacts-user__input:hover + .contacts-user__icon path {
  fill: $cian-2;
  transition: all 0.4s;
  opacity: 1;
}

.contacts-user__icon {
  position: absolute;
  top: 30px;
  right: 8px;

  @media (min-width: $tablet-width) {
    &--phone {
      top: 20px;
      right: 60px;
    }

    &--email {
      top: 20px;
      right: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      right: 230px;
    }

    &--email {
      right: 230px;
    }
  }
}
