.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(19px, 18px);
  @include text-reset();
  margin-right: 28px;
}

.copyright__link {
  color: $cian-darken-2;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    transition: all 0.2s;
  }

  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
