.data-user {
  margin-bottom: 14px;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    margin-bottom: 27px;
  }
}

.data-user__list {
  @include list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 6;
  }
}

.data-user__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.data-user__legend {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 27px;
  }
}

.data-user__label {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(17px, 18px);
  display: block;

  @media (min-width: $tablet-width) {
    @include text-size(19px, 18px);
    margin-right: 26px;
    margin-bottom: 23px;
  }
}

.data-user__input {
  @include input-text();
  @include text($text-color-gray, normal, normal, $primary-font);
  @include text-size(17px, 18px);
  padding-top: 17px;
  padding-bottom: 14px;
  margin-bottom: 23px;
  outline: none;

  &:hover {
    border-color: $cian-2;
    transition: all 0.4s;
  }

  &:active,
  &:focus {
    border-color: $cian-2;
  }

  &::placeholder {
    @include text-size(17px, 18px);
    @include placeholder-text();
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 17px;
    font-size: 19px;

    &::placeholder {
      @include text-size(19px, 18px);
    }
  }
}
