.footer {
  background-color: $gray-lighten;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 34px;
  }
}

.footer__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include container-max();
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
  }
}

.footer__logo {
  display: none;
  color: $basic-black;

  &:hover {
    color: $cian-darken-2;
    transition: all 0.2s;
  }

  &:focus {
    color: $cian-darken-2;
  }

  &:active svg {
    color: $cian-darken-2;
    opacity: 0.3;
    transition: all 0.2s;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.footer__copyright {
  padding-top: 24px;
  padding-bottom: 20px;
}
