.header {
  @media (min-width: $tablet-width) {
    background-color: $transparent;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    @include container-max();
    display: grid;
    grid-template-columns: 1fr 348px;
    grid-template-rows: auto auto;
    // flex-direction: row;
    // justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
  }
}

.header__logo {
  @include menu-link();
  // position: absolute;
  display: flex;
  justify-content: center;
  padding: 22px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // justify-content: flex-start;
    width: 113px;
    // margin-right: auto;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    // right: 45%;
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.header__legend {
  display: none;

  @media (min-width: $tablet-width) {
    @include text($text-color-gray, normal, normal, $primary-font);
    @include text-size(15px, 24px);
    display: block;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    justify-self: end;
    // position: absolute;
    // top: 100px;
    // right: 46px;
  }
}
