.header {
  @media (min-width: $tablet-width) {
    background-color: $transparent;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    @include container-max();
    display: grid;
    grid-template-columns: 1fr 348px;
    grid-template-rows: auto auto;
    position: relative;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
  }
}

.header__logo {
  @include menu-link();
  display: flex;
  justify-content: center;
  padding: 22px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 113px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.header__logo:hover svg {
  opacity: 0.6;
}

.header__logo:active svg {
  opacity: 0.3;
}

.header__legend {
  display: none;

  @media (min-width: $tablet-width) {
    @include text($text-color-gray, normal, normal, $primary-font);
    @include text-size(15px, 24px);
    display: block;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    justify-self: end;
  }
}
