.order-list {
  @include list-reset();
  background-color: $main-bg-color;
}

.order-list__radio-checkbox-label {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(17px, 18px);
  display: block;
  position: relative;
  padding-left: 60px;
  cursor: pointer;
}

.order-list__radio-checkbox-label--radio {
  margin-bottom: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 42px;
    height: 42px;
    border: 2px solid $radio-checkbox-border-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.order-list__radio:checked + .order-list__radio-checkbox-label--radio {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    background-color: $radio-checked-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.order-list__radio-checkbox-label--checkbox {
  margin-bottom: 44px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 42px;
    height: 42px;
    border: 2px solid $radio-checkbox-border-color;
    transform: translateY(-50%);
  }
}

.order-list__checkbox:checked + .order-list__radio-checkbox-label--checkbox {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 10px;
    width: 23px;
    height: 16px;
    background-image: url("../img/decor-images/checkbox-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
  }
}
