.order-list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    background-color: $transparent;

    &--color {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $desktop-width) {
    &--color {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.order-list__item {
  &--type {
    margin-bottom: 24px;
  }

  &--color {
    margin-bottom: 43px;
  }

  &--color:last-child {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.order-list__radio-checkbox-label {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(17px, 18px);
  display: block;
  position: relative;
  padding-left: 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include text-size(19px, 18px);
    padding-left: 78px;

    br {
      display: none;
    }
  }
}

.order-list__radio-checkbox-label--radio {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 42px;
    height: 42px;
    border: 2px solid $radio-checkbox-border-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 52px;
      height: 52px;
    }
  }
}

.order-list__radio:checked + .order-list__radio-checkbox-label--radio {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    background-color: $radio-checked-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 16px;
      width: 22px;
      height: 22px;
    }
  }
}

.order-list__radio-checkbox-label--radio:hover {
  &::before {
    border-color: $radio-checked-color;
    transition: all 0.3s;
  }
}

.order-list__radio-checkbox-label--radio:active {
  &::before {
    border-color: $gray-black;
    transition: all 0.3s;
  }
}

.order-list__radio-checkbox-label--checkbox {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 42px;
    height: 42px;
    border: 2px solid $radio-checkbox-border-color;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 52px;
      height: 52px;
    }
  }
}

.order-list__checkbox:checked + .order-list__radio-checkbox-label--checkbox {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 10px;
    width: 23px;
    height: 16px;
    background-image: url("../img/decor-images/checkbox-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    &::after {
      background-image: url("../img/decor-images/checkbox-tick-big.svg");
      width: 31px;
      height: 22px;
    }
  }
}

.order-list__radio-checkbox-label--checkbox:hover {
  &::before {
    border-color: $radio-checked-color;
    transition: all 0.3s;
  }
}

.order-list__radio-checkbox-label--checkbox:active {
  &::before {
    border-color: rgba($gray-darken, 0.3);
    transition: all 0.3s;
  }
}
