.products {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -78px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.products__wrapper {
  background-color: $gray-light;
  background-image: url("../img/background-images/products-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 373px;
  position: relative;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-images/products-bg-big.jpg");
    background-size: auto 746px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzags/zigzag-fill-tablet.svg");
      background-repeat: repeat;
      height: 24px;
      width: 100%;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-image: url("../img/zigzags/zigzag-fill-desktop.svg");
      height: 34px;
      bottom: 0;
    }
  }
}

.products__title {
  padding-top: 72px;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    padding-bottom: 372px;
  }
}

.products__heading {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(27px, 30px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-size(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include text-size(53px, 57px);
  }
}

.products__heading--newline {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.products__list {
  @include list-reset();
  margin-top: -26px;

  @media (min-width: $tablet-width) {
    @include container-max();
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -25px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
    margin-top: -56px;
  }
}

.products__link {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 31px;
  z-index: 9;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    padding-bottom: 39px;
  }
}

.products__link--interior {
  background-color: $cian;
}

.products__link--interior:hover {
  background-color: black;
}

.products__link--toys {
  background-color: $cian-darken;
}

.products__link--toys:focus {
  background-color: black;
}

.products__text {
  @include text($text-color-white, bold, normal, $primary-font);
  @include text-size(19px, 24px);
  @include text-reset();
  max-width: 160px;

  @media (min-width: $tablet-width) {
    @include text-size(20px, 30px);
  }
}
