.reviews {
  position: relative;
  padding-top: 2px;
  padding-bottom: 45px;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 85px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzags/zigzag-middle.svg");
      background-repeat: repeat;
      height: 17px;
      width: 100%;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 140px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzags/zigzag-big.svg");
      background-repeat: repeat;
      height: 23px;
      width: 100%;
      bottom: 0;
    }
  }
}

.reviews__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include container-max();
    padding-top: 76px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    background-image: url("../img/background-images/tablecloth.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/tablecloth@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
    padding-top: 72px;
    grid-template-columns: repeat(6, 175px);
    grid-template-rows: repeat(3, auto);
    background-position-x: 50px;
  }
}

.reviews__heading {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(25px, 30px);
  @include text-reset();
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    @include text-size(43px, 50px);
    margin-top: 6px;
    margin-bottom: 38px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    @include text-size(53px, 57px);
    grid-column: 2 / 5;
  }
}

.reviews__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }
}

.reviews__button {
  @media (min-width: $tablet-width) {
    max-height: 52px;
    min-width: 175px;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / -2;
  }
}

.reviews__controls {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    justify-self: end;
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    grid-column: -1 / -2;
  }
}
