.select-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-form__label {
  @include text($text-color-gray, bold, normal, $primary-font);
  @include text-size(17px, 16px);
  display: block;
  border: 2px solid rgba($modal-input-color, 0.1);
  padding: 18px 19px;
  min-width: 82px;
  text-align: center;
}

.select-form__label:hover {
  border-color: rgba($modal-input-color, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}

.select-form__input:checked + .select-form__label {
  border-color: $modal-input-current-color;
}

.select-form__input:focus + .select-form__label {
  border-color: $modal-input-current-color;
}

.select-form__text {
  @include text($text-color-gray, normal, normal, $primary-font);
  @include text-size(15px, 30px);
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include text-size(17px, 30px);
  }
}

.select-form__list {
  @include list-reset();
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.select-form__button {
  @include text($text-color-white, bold, normal, $primary-font);
  @include text-size(17px, 16px);
  @include text-uppercase();
  width: 100%;
  padding: 15px 10px 13px 10px;
  text-align: center;
  background-color: $cian;
  border: none;
  cursor: pointer;
}
