.site-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $transparent;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
  }
}

.site-list__item:nth-child(1) {
  @media (min-width: $desktop-width) {
    border-right: 1px solid $gray;
  }
}

.site-list__item:not(:first-child) {
  @media (min-width: $desktop-width) {
    padding-left: 34px;
  }
}

.site-list__link {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(17px, 24px);
  @include menu-link();

  &:hover,
  &:focus {
    color: rgba($text-color-primary, 0.6);
  }

  &:active {
    color: rgba($text-color-primary, 0.3);
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 0;
    font-size: 15px;
  }
}

.site-list__link:nth-child(1) {
  margin-right: 16px;
}
