.slider-controls {
  display: flex;
}

.slider-controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 52px;
  width: 50%;
  background-color: $transparent;
  border: 1px solid $border-color-gray;
  cursor: pointer;

  &:last-child {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    min-width: 87px;
    border: none;
  }
}

.slider-controls__button:hover .slider-controls__icon {
  opacity: 0.6;
}

.slider-controls__button:active .slider-controls__icon {
  opacity: 0.3;
}
