.subject {
  margin-bottom: 17px;
  background-color: $gray-bg-color;

  @media (min-width: $tablet-width) {
    margin-top: -78px;
    margin-bottom: 68px;
    position: relative;
    z-index: -1;
    border-top: 1px solid $gray;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzags/zigzag-fill-tablet.svg");
      background-repeat: repeat;
      height: 24px;
      width: 100%;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 112px;

    &::after {
      background-image: url("../img/zigzags/zigzag-fill-desktop3.svg");
      height: 34px;
      bottom: -1px;
    }
  }
}

.subject__wrapper {
  @include container();
  padding: 50px 22px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 51px;

    @media (min-width: $desktop-width) {
      padding-top: 56px;
      padding-bottom: 68px;
    }
  }
}

.subject__heading {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(27px, 30px);
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-size(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include text-size(53px, 57px);
  }
}
