.user-list {
  @include list-reset;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
  }
}

.user-list__link {
  @include text($text-color-primary, bold, normal, $primary-font);
  @include text-size(17px, 24px);
  @include user-menu-link();

  &:hover,
  &:focus {
    color: rgba($text-color-primary, 0.6);
  }

  &:active {
    color: rgba($text-color-primary, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 33px 0 32px 32px;
    border-bottom: none;

    &--cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.user-list__link:hover .user-list__icon {
  opacity: 1;
  fill: $cian;
}

.user-list__link:focus .user-list__icon {
  opacity: 1;
  fill: $cian;
}

.user-list__link:active .user-list__icon {
  opacity: 0.3;
}

.user-list__link--search {
  @media (min-width: $tablet-width) {
    padding: 0;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 82px;
  }
}

.user-list__icon {
  fill: black;
  opacity: 0.2;

  &--cart {
    margin-right: 24px;

    @media (min-width: $tablet-width) {
      margin-right: 31px;
    }
  }

  &--search {
    margin-right: 27px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.user-list__text--search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list--js {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
