.wishes {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    @include container-max();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 31px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop();
    grid-template-columns: repeat(6, 1fr);
    padding-top: 31px;
    margin-bottom: 49px;
  }
}

.wishes__input {
  @include text($text-color-primary, normal, normal, $primary-font);
  @include text-size(17px, 18px);
  outline: none;
  width: 100%;
  border: 2px solid $input-border-color;
  margin-top: 18px;
  margin-bottom: 0;
  padding: 16px;

  &:hover {
    border-color: $cian-2;
    transition: all 0.4s;
  }

  &:active,
  &:focus {
    border-color: $cian-2;
  }

  &::placeholder {
    @include text-size(17px, 18px);
    @include placeholder-text();
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    font-size: 19px;

    &::placeholder {
      @include text-size(19px, 18px);
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 6;
  }
}

.wishes__label {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}
