@mixin text($color, $font-weight, $font-style, $font-family) {
  color: $color;
  font-weight: $font-weight;
  font-style: $font-style;
  font-family: $font-family;
}

@mixin text-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin text-uppercase() {
  text-transform: uppercase;
}

@mixin container() {
  margin: 0 auto;
  padding: 0 30px;
}

@mixin container-max() {
  margin: 0 auto;
  padding: 0 50px;
}

@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-reset() {
  margin: 0;
  padding: 0;
}

@mixin menu-link() {
  display: block;
  padding: 27px 10px 27px 76px;
  border-bottom: 1px solid $gray;
}

@mixin user-menu-link() {
  display: flex;
  align-items: center;
  padding: 27px 10px 27px 30px;
  border-bottom: 1px solid $gray;
}

@mixin input-text() {
  min-width: 260px;
  border: none;
  border-bottom: 2px solid $input-border-color;
}

@mixin placeholder-text() {
  font-size: 17px;
  line-height: 18px;
  color: $text-color-placeholder;
  font-weight: normal;
  font-style: normal;
  font-family: $primary-font;
}
