// Colors
$basic-black: #000000;
$basic-white: #ffffff;
$cian: #63d1bb;
$cian-2: #62d1ba;
$cian-3: #59d5bc;
$cian-darken: #56c3b2;
$cian-darken-2: #46c1ae;
$gray-darken: #444444;
$gray-lighten: #f1f1f1;
$gray: #ececec;
$gray-light: #f9f9f9;
$gray-black: rgba(0, 0, 0, 0.3);
$transparent: transparent;
// Semantic colors
$text-color-primary: $basic-black;
$text-color-white: $basic-white;
$text-color-gray: $gray-darken;
$text-color-accent: $cian;
$text-color-placeholder: $gray-black;
$main-bg-color: $basic-white;
$footer-bg-color: $gray-lighten;
$gray-bg-color: $gray-lighten;
$input-border-color: $basic-black;
$radio-checkbox-border-color: $gray-darken;
$radio-checked-color: $cian-2;
$border-color-gray: $gray;
$card-border-color: $gray;
$modal-input-color: $gray;
$modal-input-current-color: $cian;
// Fonts
$primary-font: "Open Sans", "Arial", sans-serif;
// Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
